<div class="menu-navbar">
        <a href="#inicio">Inicio </a>
        <a href="#agregar">Agregar</a>
        <a href="#tabla">Tabla</a>
        <a href="#modificar">Modificar</a>
        <a href="#eliminar">Eliminar</a>
</div>

<div class="navbar-bienvenida">
        <div class="navbar-bienvenida__icon">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Uceva_Vertical_%28png%29.png" class="img-logo" alt="user-icon">
        </div>
    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077012.png" alt="user-icon">    
    <p>Bienvenido {{ username }}</p>
</div>