form {
    background-color: #e8f5e9; /* Verde claro */
    border: 2px solid #4caf50; /* Verde */
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input,
form button {
    display: block;
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #4caf50; /* Verde */
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #4caf50; /* Verde */
    color: #ffffff; /* Blanco */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #388e3c; /* Verde más oscuro */
}

div {
    background-color: #ffffff; /* Blanco */
    border: 1px solid #4caf50; /* Verde */
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.campos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 8px;
    font-weight: bold;
}

.campo input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

